.App {
  text-align: center;
  background: linear-gradient(179.88deg, rgba(0, 0, 0, 0.9) 0.1%, rgba(44, 44, 44, 0.81) 108.25%);
  ;
  min-height: 160vh;
  min-width: 90vh;
}

#entryForm .MuiOutlinedInput-notchedOutline {
  border-color: #fff !important;
}


#email, #email-label, #password, #password-label, #firstName, #firstName-label, #lastName, #lastName-label {
  color: #fff !important;
}

.MuiTypography-h5 {
  font-weight: 500 !important;
}